@font-face {
    font-family: "helvetica";
    src: url(resource/Helvetica.ttf);
}
body{
    background-color: var(--white);
    margin: 0 0;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}
ul{
    list-style: none;
}
h1,h3,p,font,input{
    font-size: 1.3rem;
    font-family: "helvetica";
    font-weight: 300;
}
h1{
    font-size: 4rem;
    line-height: 4rem;
}
h2{
    font-size: 2.5rem;
    line-height: 3rem;
}
h3{
    font-size: 2rem;
    line-height: 2.5rem;
}
li{
    padding: 0.5rem 0;
    line-height: 2.5rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: solid 0.1px;
    border-color: #d1d1d1;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
}
font{
    font-family: "helvetica";
}
.container{
    background-color: var(--white);
    width: 85vw;
    }
@media screen and (max-width:500px) {
    .container{
        padding: 0 0;
        margin: 0 0;
        background-color: var(--white);
        width: 100vw;
    }
}


/* INDEX */
.home h1,h3,p,font,input{
    font-size: 1.3rem;
    font-family: "helvetica";
    font-weight: 300;
}
.home h1{
    font-size: 4rem;
    line-height: 3rem;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 2rem;
    letter-spacing: -2px;
}

.home img{
    width: 3rem;
}
.home .logo_image{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home p{
    margin-bottom: 5rem;
}
.home h2{
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0 0;
    padding: 0 0;

}
.home h3{
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0;
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding: 0 0;
}
.home button{
    font-size: 1.8rem;
    line-height: 2.5rem;
    background-color: #e9e9e9;
    border: none;
    border-radius: 30rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #f7f7f7;
    margin: 0.5rem;
    transition: 0.5s ease;

}
.home button:hover{
    font-size: 2rem;
    line-height: 2.5rem;
    background-color: #d3d3d3;
    transition: 0.5s ease;
    border-radius: 30rem;
    margin: 0.5rem;
}
.home a{
    text-decoration: none;
    line-height: 5rem;
    padding: 1rem 10rem;
    color: var(--black);
}

/* PRECINCT */
.precinct_wrapper h1{
    margin: 0 0;
    padding: 0 0;
    margin-top: 7rem;
    letter-spacing: -2px;
    margin-bottom: 2rem;
    /* background-color: aquamarine; */
}
ul{
    padding-left: 0;
    margin-bottom: 5rem;
}
li:hover{
    background-color: var(--higlight);
    transition: 0.5s ease;
}
input{
    border: none;
    padding: 1rem 3rem;
    border-radius: 50rem;
    box-shadow: 0.2rem 0.2rem 0.3rem  var(--black_low);
    margin-bottom: 5rem;
}

input:focus{
    outline: var(--black);
}
font{
    display: inline-block;
    width:  80%;
    max-width:  80%;
    min-width:  50%;
}
.num{
    display: inline-block;
    width: 3rem;
    min-width:  3rem;
    max-width:   3rem;
    padding-left: 1rem;
    opacity: 0.25;
}
.batch{
    display: inline-block;
    width: 5rem;
    min-width:  5rem;
}
@media screen and (max-width:450px) {
    .precinct_wrapper h1{
        margin: 0rem 1rem;
        padding: 0 0;
        font-size: 3.4rem;
        width: 18rem;
        margin-top: 7rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        letter-spacing: -2px;
        /* background-color: aquamarine; */
    }
        .precinct_wrapper p{
       text-align: center;
       opacity: 0.3;
    }
    input{
        width: 14rem;
        margin-left: 1rem;
    }
    ul{
        margin: 0rem 2rem ;
    }
    font{
        display: inline-block;
        width:  2rem;
        line-height: 1.6rem;
    }
    .num{
        display: inline-block;
        width: 3rem;
        min-width:  3rem;
        max-width:   3rem;
        padding: 0;
        opacity: 0.25;
    }
    .batch{
        display: inline-block;
        width: 5rem;
        min-width:  5rem;
        padding-left: 2rem;
        color: var(--black);
    }
}




/* REPEATABLE PATTERN */
:root{
    --higlight:#f1f1f1;
    --black_low:#e0e0e0;
    --black:#2e2e2e;
    --white:#f9f9f9;
}