@font-face {
    font-family: "helvetica";
    src: url(resource/Helvetica.ttf);
}@font-face {
    font-family: "poppins";
    src: url(resource/Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppins_black";
    src: url(resource/Poppins-Bold.ttf);
}
body{
    background-color: var(--white);
    margin: 0 0;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}
ul{
    list-style: none;
}
h1,h3,p,font,input{
    font-size: 1.3rem;
    font-family: "helvetica";
    font-weight: 300;
}
h1{
    font-size: 4rem;
    line-height: 4rem;
}
h2{
    font-size: 2.5rem;
    line-height: 3rem;
}
h3{
    font-size: 2rem;
    line-height: 2.5rem;
}
li{
    padding: 0.5rem 0;
    line-height: 2.5rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: solid 0.1px;
    border-color: #d1d1d1;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
}
font{
    font-family: "helvetica";
}
.container{
    background-color: var(--white);
    width: 85vw;
    height: 99vh;
    }
@media screen and (max-width:500px) {
    .container{
        padding: 0 0;
        margin: 0 0;
        background-color: var(--white);
        width: 100vw;
    }
}


/* INDEX */
.home h1,h3,p,font,input{
    font-size: 1.3rem;
    font-family: "helvetica";
    font-weight: 300;
}
.home .home_wrapper{
    padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height:inherit;
}
.home h1{
    font-family: "poppins_black";
    font-size: 4rem;
    line-height: 5rem;
    font-weight: lighter;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 1rem;
    letter-spacing:0px;
    margin-top: 12.5rem;
}
.home h3{
    font-family: "poppins";
    font-size: 2rem;
    line-height: 1rem;
    font-weight: 600;
    margin: 0 0;
    margin-bottom: 4.8rem;
    padding: 0 0;
}
.home p{
    font-family: "poppins";
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
    width: 26rem;
    opacity: 0.8;
    font-weight: lighter;
    letter-spacing: 0px;
}
.home img{
    width: 3rem;
}
.home .logo_image{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    margin-bottom: 0rem;
}
.home .right_content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: right;
}
.home .right_content .div1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0;
    padding: 0 0;
   margin-top: 3rem;
   width: fit-content;
}.home .right_content .div2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0;
    padding: 0 0;
   width: fit-content;
}
.home button{
    margin: 0 0;
    padding: 8rem 4rem;
    font-size: 1.5rem;
    background-color: #3c3b3b;
    color: var(--white);
    border: none;
    border-radius: 4rem;
    transition: 0.5s ease;
}
.home button:hover{
    background-color: #747474;
    transition: 0.5s ease;
}

@media screen and (max-width:450px) {
    .home .home_wrapper{
        padding: 0 0rem;
      display: grid;
      grid-template-columns:  1fr;
      grid-template-rows: 1fr 1fr;
      height:inherit;
      width: 90vw;
    }
    .home h1{
        font-family: "poppins_black";
        font-size: 4rem;
        line-height: 3.6rem;
        font-weight: lighter;
        margin: 0 0;
        padding: 0 0;
        margin-bottom: 2rem;
        letter-spacing:0px;
        margin-top: 7rem;
    }
    .home p{
        font-family: "poppins";
        margin-bottom: 2.5rem;
        font-size: 1rem;
        width: 18rem;
        opacity: 0.8;
        font-weight: lighter;
        letter-spacing: 0px;
    }
    .home img{
        width:2.3rem;
    }
    .home button{
        padding: 6rem 2rem;
        border-radius: 2rem;
        font-size: 1rem;
    }
    .home .left_content{
        padding-left: 2rem;
    }
    .home .right_content{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        width: 100vw;
        justify-content: center;
        padding: 3rem 0;
    }
}

/* PRECINCT */
.precinct_wrapper h1{
    margin: 0 0;
    padding: 0 0;
    margin-top: 7rem;
    letter-spacing: -2px;
    margin-bottom: 2rem;
    /* background-color: aquamarine; */
}
ul{
    padding-left: 0;
    margin-bottom: 5rem;
}
li:hover{
    background-color: var(--higlight);
    transition: 0.5s ease;
}
input{
    border: none;
    padding: 1rem 3rem;
    border-radius: 50rem;
    box-shadow: 0.2rem 0.2rem 0.3rem  var(--black_low);
    margin-bottom: 5rem;
}

input:focus{
    outline: var(--black);
}
font{
    display: inline-block;
    width:  80%;
    max-width:  80%;
    min-width:  50%;
}
.num{
    display: inline-block;
    width: 3rem;
    min-width:  3rem;
    max-width:   3rem;
    padding-left: 1rem;
    opacity: 0.25;
}
.batch{
    display: inline-block;
    width: 5rem;
    min-width:  5rem;
}
@media screen and (max-width:450px) {
    .precinct_wrapper {
        margin: 0 1.2rem;
    }
    .precinct_wrapper h1{
        margin: 0rem 1rem;
        padding: 0 0;
        font-size: 3.4rem;
        width: 18rem;
        margin-top: 5rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        letter-spacing: -2px;
        /* background-color: aquamarine; */
    }
        .precinct_wrapper p{
       text-align: center;
       opacity: 0.3;
    }
    input{
        width: 14rem;
        margin-left: 1rem;
        margin-bottom: 9rem;
    }
    ul{
        margin: 0rem 2rem ;
        padding-bottom: 4rem;
    }
    font{
        display: inline-block;
        width:  2rem;
        line-height: 1.6rem;
    }
    .num{
        display: inline-block;
        width: 3rem;
        min-width:  3rem;
        max-width:   3rem;
        padding: 0;
        opacity: 0.25;
    }
    .batch{
        display: inline-block;
        width: 5rem;
        min-width:  5rem;
        padding-left: 2rem;
        color: var(--black);
    }
}




/* REPEATABLE PATTERN */
:root{
    --higlight:#f1f1f1;
    --black_low:#e0e0e0;
    --black:#2e2e2e;
    --white:#f9f9f9;
}

.backtohome{
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: var(--white);
    margin: 0 0;
    padding: 0.6rem 0.5rem;
    bottom: 30px;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.4rem var(--black_low);
}

.backtohome font{
    margin: 0 0;
    padding: 0 0;
    width:11rem;
    font-size: 1.1rem;
    text-align: center;
    font-family: "poppins";
    opacity: 0.6;
}